@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
}
.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.satu {
  background-image: url(./peson-sit.jpg) ;
  height: 100vh;
  background-size: cover;
}

.dua{
  background-color: aquamarine;
}

.tiga{
  background-color: beige;
}

.empat{
  background-color: bisque;
}


.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.navbar{
  background-color: white;
  height: 50px;
  font-family: Poppins;
  font-weight: 500;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  margin-top: 0;
}

.navbar ul li{
  padding-left: 40px;
  padding-top: 15px;
  text-decoration: none;
}

.button{
  text-align: center;
  color: white;
  font-family: Poppins;
}

.button h3{
  position: absolute;
  top: 40%;
  left: 12%;
  font-size: 2em;
}

.button p{
  position: absolute;
  top: 50%;
  left: 8%;
  font-family: Poppins;
}



/* .button .btn1{
  position: absolute;
  top: 60%;
  left: 12.5%;
  background-color: #555;
  color: white;
  font-size: 13px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
} */


::-webkit-scrollbar {
  display:none;
}